Chorus: DataCube Download Link for ${dataCubeName}
Hello, ${user}!

DateCube export is ready and could be downloaded <a href="${fileDownloadLink}" target="_blank">here</a>
Please note, that it is temporary link - it will work only for 7 days.

Thank you!
